<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=10106218834";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="jumbotron jumbo_food subhead" id="overview">
  <div class="container">
    <h1>Food Blog</h1>
    <p class="lead">Parsley corn chickweed welsh onion gourd courgette desert raisin turnip.</p>
  </div>
</header>

<br/>

<div class="container">

    <div class="row">
        <div class="well span3 pull-right">
            <h3>{{about.title}}</h3>
            <p>{{#unescape about.body}}{{/unescape}}</p>
            <br/>
            <strong>Latest Posts</strong></br>
            <ul>
            {{#each posts}}
                <li><a href="#{{this.slug}}">{{this.title}}</a></li>
            {{/each}}
            </ul>
        </div>
        {{#each posts}}
        <div class="well span8">
            <a id="{{this.slug}}" href="/food#{{this.slug}}"><h3>{{this.title}}</h3></a>
            <p>{{#unescape this.body}}{{/unescape}}</p>
            <small>Posted on {{this.date}}</small>
            <hr/>
            <div class="fb-comments" data-href="http://hksn.ca/food/#{{this.slug}}" data-num-posts="5" data-width="620"></div>
        </div>
        {{/each}}
    </div>

</div>

{{#extend "scripts"}}
<script>
  $("#nav_food").addClass("active");
</script>
{{/extend}}