<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=10106218834";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--
Header: News!
-->
<div id="news">
  <div class="tint">
    <div class="container">
      <img src="img/logo.png" width="200px" />
      <!-- <h1>Hong Kong Student Network</h1> -->
      <p>The McGill Hong Kong Student Network is a student-run organization officially founded in 2006. With over 200 members within its first year, the vision of the network is to connect students within the McGill student body to Hong Kong by building bridges that facilitate the integration of our members within the Hong Kong community for all purposes including travel and work. This will be done by establishing close relations with relevant parties such as the Hong Kong Alumni Association, as well as organizing social networking opportunities. The executive committee currently consists of 10 passionate and dedicated members with relations to Hong Kong who hope to coordinate events that are in line with our mission such as a mentorship program that will be run in partnership with the Hong Kong Alumni Association.</p>
    </div>
  </div>
</div>

<!--
Carousel: Photo
-->
<div id="photos">
  <div id="event-desktop" class="hidden-phone">
    <img src="/img/banner/jan13-skitrip-coverphoto.jpg" />
  </div>
  <div id="event-phone" class="visible-phone">
    <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/560553_483857248300291_425466358_n.jpg" />
  </div>
</div>

<!--
Upcoming Events: Events & Poster
-->
<div id="events">
  <div class="tint">
    <div class="container">
      <div class="row">
        <!-- events -->
        <div class="itinerary span6 offset1">
          <h1>Upcoming Events</h1>
          <h4>Come hang out, meet new people and have a great time!</h4>
          <ul>
            <!-- ski trip -->
            <li>
              <a href="https://www.facebook.com/events/284066311694135/">
                <div class="itinerary-date">
                  <span class="month">JAN</span>
                  <span class="date">11</span>
                </div>
                <div class="itinerary-info">
                  <strong>WhiteOut Ski/Snowboard Trip 2013</strong><br>
                  Welcome to the 5th annual MCSS & HKSN Ski and Snowboarding trip!<br/>
                </div>
              </a>
            </li>
            <!-- u me and bbt -->
            <li>
              <a href="https://www.facebook.com/events/494609210564339/">
                <div class="itinerary-date">
                  <span class="month">OCT</span>
                  <span class="date">13</span>
                </div>
                <div class="itinerary-info">
                  <strong>Food Outing: U, ME & BBT + Exec Meet&Greet!</strong><br>
                  Enjoy a delicious meal and bubble tea with a great group of people in a friendly atmosphere<br/>
                </div>
              </a>
            </li>
            <!-- canto class -->
            <li>
              <a href="https://www.facebook.com/events/415936068470910/">
                <div class="itinerary-date">
                  <span class="month">OCT</span>
                  <span class="date">04</span>
                </div>
                <div class="itinerary-info">
                  <strong>CANTO with KIP SIR & MS LEUNG</strong><br>
                  FREE, interactive and fun classes where you will learn useful Cantonese words and phrases<br/>
                </div>
              </a>
            </li>
            <!-- welcome party
            <li>
              <a href="https://www.facebook.com/events/415936068470910/">
                <div class="itinerary-date">
                  <span class="month">SEPT</span>
                  <span class="date">14</span>
                </div>
                <div class="itinerary-info">
                  <strong>Welcome Party: A Night in LKF!</strong><br>
                  Come join us for a night of GROUP GAMES, PRIZES, HILARIOUS VIDS, DELISH FOOD, and MORE<br/>
                </div>
              </a>
            </li>
            -->
          </ul>
        </div>

        <!-- left poster -->
        <!-- <div class="poster span3 visible-tablet visible-desktop">
          <a href="#" class="thumbnail">
            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/560553_483857248300291_425466358_n.jpg" />
          </a>
        </div> -->

        <!-- right poster -->
        <div class="poster span3 offset1 hidden-phone hidden-tablet">
          <a href="https://www.facebook.com/events/494609210564339/" class="thumbnail">
            <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/523104_495333813819301_291530605_n.jpg" />
          </a>
          <!--
          <a href="https://www.facebook.com/events/415936068470910/" class="thumbnail">
            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/560553_483857248300291_425466358_n.jpg" />
          </a>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--
Sponsors: Google Map
-->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  function initialize() {

    var styles = [
      {
        featureType: "all",
        stylers: [
          { hue: "#12342" },
          { saturation: 100 }
        ]
      },
      {
        featureType: "road.arterial",
        elementType: "geometry",
        stylers: [
          // { hue: "#00ffee" },
          { saturation: 50 }
        ]
      },
      {
        featureType: "poi.business",
        elementType: "labels",
        stylers: [
          { visibility: "off" }
        ]
      }
    ];

    var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});

    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(45.502075, -73.566299),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false,
      panControl: false,
      scaleControl: false,
      mapTypeControl: false,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.TOP_LEFT
      }
    };

    var map = new google.maps.Map(document.getElementById('sponsors'), mapOptions);
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
  }

  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?sensor=false&' + 'callback=initialize';
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>

<div id="sponsors" class="hidden-phone"></div>

<!--
Corkboard: Team
-->
<div id="team"></div>

<!--
Footer: Contact
-->
<div id="contact">
  <div class="container">
    <h1>Contact Us</h1>
    <div class="row">
      <div class="span4">
        <p class="lead">
          Email <a href="mailto:hksnmcgill@gmail.com">hksnmcgill@gmail.com</a><br/><br/>
          <a href="http://www.youtube.com/user/HKSNmcgill">Youtube</a><br/>
          <a href="http://www.facebook.com/hksnmcgill">Facebook</a><br/>
          <a href="http://twitter.com/McGillHKSN">Twitter</a><br/>
        </p>
      </div>
      <div class="span6 hidden-phone">
        <div class="well fb-comments" data-href="http://hksn.ca" data-num-posts="5" data-width="400"></div>
      </div>
  </div>
</div>