<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=10106218834";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!--
Header: News!
-->
<div id="news">
  <div class="tint">
    <div class="container">
      <img src="img/logo.png" width="30%" height="30%" />
      <!-- <h1>Hong Kong Student Network</h1> -->
      <p>ipsum dolor sit amet chocolate cake pie I love toffee. Bonbon cheesecake chocolate cake biscuit jujubes. Ice cream pastry jujubes dragée chocolate dragée sweet roll tart. Biscuit cake pie. Jelly-o chocolate croissant tootsie roll I love apple pie caramels ice cream I love. Danish cheesecake I love chocolate bar pie applicake cake chocolate cupcake.</p>
    </div>
  </div>
</div>


<!--
Carousel: Photo
-->
<div id="photos" class="hidden-phone">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <!-- <div class="active item" style="height: 650px; background: url('/img/4-3.jpeg') no-repeat center center; background-size: cover;"></div> -->
      <!-- <div class="item" style="height: 650px; background: url('/img/4-1.jpeg') no-repeat center center; background-size: cover;"></div> -->
      <div class="active item" style="height: 650px; background: url('/img/banner/jan13-skitrip-coverphoto.jpg') no-repeat center left; background-size: cover;"></div>
<!--       <div class="item" style="height: 650px; background: url('/img/4-2.jpeg') no-repeat center center; background-size: cover;">
        <div class="carousel-caption">
          <h4>First Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div> -->
      <!--
      <div class="item">
        <iframe width="100%" height="650" src="http://www.youtube.com/embed/SMpioQtvIng" frameborder="0" allowfullscreen></iframe>
        <div class="carousel-caption">
          <h4>Welcome Party Video</h4>
          <p>A huge THANK YOU to everyone who came to our Welcome Party last night! We had a wonderful time, and we hope you did too! We were so so happy to meet each of you! We hope to see your beautiful faces again at future events! Here is our Welcome Party video for those of you who couldn't make it to the party and for those of you who did make it and want to watch it again :)</p>
        </div>
      </div>
      -->

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

<!--
Upcoming Events: Events & Poster
-->
<div id="events">
  <div class="tint">
    <div class="container">
      <div class="row">

        <!-- events -->
        <div class="itinerary span6 offset1">
          <h1>Upcoming Events</h1>
          <h4>Come hang out, meet new people and have a great time!</h4>
          <ul>
            <!-- u me and bbt -->
            <li>
              <a href="https://www.facebook.com/events/494609210564339/">
                <div class="itinerary-date">
                  <span class="month">OCT</span>
                  <span class="date">13</span>
                </div>
                <div class="itinerary-info">
                  <strong>Food Outing: U, ME & BBT + Exec Meet&Greet!</strong><br>
                  Enjoy a delicious meal and bubble tea with a great group of people in a friendly atmosphere<br>
                </div>
              </a>
            </li>
            <!-- canto class -->
            <li>
              <a href="https://www.facebook.com/events/415936068470910/">
                <div class="itinerary-date">
                  <span class="month">OCT</span>
                  <span class="date">04</span>
                </div>
                <div class="itinerary-info">
                  <strong>CANTO with KIP SIR & MS LEUNG</strong><br>
                  FREE, interactive and fun classes where you will learn useful Cantonese words and phrases<br>
                </div>
              </a>
            </li>
            <!-- welcome party -->
            <li>
              <a href="https://www.facebook.com/events/415936068470910/">
                <div class="itinerary-date">
                  <span class="month">SEPT</span>
                  <span class="date">14</span>
                </div>
                <div class="itinerary-info">
                  <strong>Welcome Party: A Night in LKF!</strong><br>
                  Come join us for a night of GROUP GAMES, PRIZES, HILARIOUS VIDS, DELISH FOOD, and MORE<br>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <!-- left poster -->
        <!-- <div class="poster span3 visible-tablet visible-desktop">
          <a href="#" class="thumbnail">
            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/560553_483857248300291_425466358_n.jpg" />
          </a>
        </div> -->

        <!-- right poster -->
        <div class="poster span3 offset1 visible-tablet visible-desktop">
          <a href="https://www.facebook.com/events/415936068470910/" class="thumbnail">
            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/560553_483857248300291_425466358_n.jpg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
POSTER for phone
-->
<div id="event-phone" class="visible-phone"></div>


<!--
Sponsors: Google Map
-->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  function initialize() {

    var styles = [
      {
        featureType: "all",
        stylers: [
          { hue: "#12342" },
          { saturation: 100 }
        ]
      },
      {
        featureType: "road.arterial",
        elementType: "geometry",
        stylers: [
          // { hue: "#00ffee" },
          { saturation: 50 }
        ]
      },
      {
        featureType: "poi.business",
        elementType: "labels",
        stylers: [
          { visibility: "off" }
        ]
      }
    ];

    var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});

    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(45.502075, -73.566299),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false,
      panControl: false,
      scaleControl: false,
      mapTypeControl: false,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.TOP_LEFT
      }
    };

    var map = new google.maps.Map(document.getElementById('sponsors'), mapOptions);
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
  }

  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?sensor=false&' + 'callback=initialize';
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>

<div id="sponsors" class="hidden-phone"></div>

<!--
Corkboard: Team
-->
<div id="team"></div>

<!--
Footer: Contact
-->
<div id="contact">
  <div class="container">
    <h1>Contact Us</h1>
    <p>Um hello</p>
    <div class="row">
      <div class="span2 well">
        Our Email
        <a href="mailto:hksnmcgill@gmail.com">hksnmcgill@gmail.com</a>
      </div>
      <div class="span2 well">
        Youtube<br/>
        Facebook<br/>
        Twitter<br/>
      </div>
      <div class="span6">
        <div class="well fb-comments" data-href="http://hksn.ca" data-num-posts="5" data-width="600"></div>
      </div>
  </div>
</div>