<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mcgillhksn: http://ogp.me/ns/fb/mcgillhksn#">
  <meta property="fb:app_id" content="598389053522129" />
  <meta property="og:type"   content="mcgillhksn:kaplan_auction" />
  <meta property="og:url"    content="http://hksn.ca/kaplan" />
  <meta property="og:title"  content="Kaplan Auction" />
  <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />

<link href="flat/css/flat-ui.css" rel="stylesheet">

<style>
.navbar {
  font: 87% "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 40px;
}

.navbar-inner {
  height: 40px;
}

.nav > li {
  height: 40px;
  line-height: 10px;
}

#participants img {
  margin-bottom: 3px;
}
</style>

<div class="container">
<!-- <div class="row">
    <div class="span6">
      <img src="img/logo.png" height="100px" alt="" />
      <img src="img/kaplan.jpg" height="50px" alt="" />
    </div>
  </div> -->
  <br>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>AUCTION ENDED!</strong> Thanks for participating in the Kaplan Auction
  </div>
  <h1>Kaplan Online Auction</h1>
  {{#if user}}
  {{else}}
    <div class="row">
      <div class="span10">
        <img src="/img/march2013-kaplan-coverphoto.jpg"></img>
        <p class="lead">
          Are you planning on going to medical school and need to take the MCAT?!<br/> Well, we have the solution for you!<br/><br/> HKSN presents to you an online auction for a MCAT Classroom Anywhere Course package sponsored by Kaplan worth <b>$2000</b>!
        </p>
        <p class="lead">
          AUCTION DURATION:<br/>
          START: <b>Saturday, March 30 @ 10:00 AM</b><br/>
          FINISH: <b>Friday, April 12 @ 11:59 PM</b><br/>
          STARTING BID: <b>$550</b><br/>
          WINNING BID: $<b><span id="current_bid">0</span></b>
        </p>
        <p class="lead">
          Bids will go up only as increments of $50!<br/>
          <!-- The online auction will happen on this page: <a href="http://hksn.ca/kaplan">http://hksn.ca/kaplan</a> -->
          <a href="/auth/facebook" class="btn btn-info btn-large">CLICK HERE TO START BIDDING</a>
        </p>

        <p class="lead">
          WANT TO TAKE SOME OTHER COURSE?
          HKSN + Kaplan is providing you with $100 off any of the courses for MCAT, LSAT, GMAT, GRE, DAT, OAT, and PCAT!<br/><br/>
          Just enter this code for when you sign up for the test: <b>HKSN100</b><br/>
          More information on the courses that can be taken: <a href="http://www.kaptest.com/anywhere">http://www.kaptest.com/anywhere</a>
        </p>
      </div>
    </div>
    <!--<a href="/auth/facebook" class="btn btn-info btn-large">Start bidding now</a>-->
  {{/if}}
  {{#if user}}
    {{#if user.registered}}
    <div class="row">
      <div class="span7">
    <h2>Hello {{user.display_name}},</h2>
    <br>


    <h4>AUCTION START: Sunday, March 31 @ 10:00 AM</h4>
    <h4>AUCTION FINISH: Friday, April 12 @ 11:59 PM</h4><br/>
    <h1>WINNING bid: $<span id="current_bid">0</span></h1>
    <!-- <h5>Latest bid: <span id="latest_bid">0</span></h5> -->

    <br><br>
    <h4><span class="fui-plus-24"></span> Increase the bid by placing one:</h4>
    <a id="place50" class="btn btn-large palette palette-bright"><span class="fui-plus-16"></span> $50</a>

    <br><br>

    <h4><span class="fui-man-24"></span> People participating in auction:</h4>
    <div id="participants"></div>

    <br><br>

    <h4><span class="fui-time-24"></span> Bidding History</h4>
    <ul id="history"></ul>

  </div>
  <div class="span5">
    <img src="/img/march2013-kaplan-10x10.jpg"></img>
    <br/><br/>
    <p class="lead well">
      WANT TO TAKE SOME OTHER COURSE?<br/><br/>
      HKSN + Kaplan is providing you with $100 off any of the courses for MCAT, LSAT, GMAT, GRE, DAT, OAT, and PCAT!<br/><br/>
      Just enter this code for when you sign up for the test: <b>HKSN100</b><br/><br/>
      More information on the courses that can be taken: <a href="http://www.kaptest.com/anywhere">http://www.kaptest.com/anywhere</a>
    </p>
  </div>
</div>

    {{else}}
    <br/>
    <h4><span class="fui-mail-24"></span> Enter your email so we can contact you if you win the auction!</h4>
    <input id="email" type="text" value="" placeholder="your@email.com" class="span4"></input>
    <br/>
    <br/>
    <h4><span class="fui-new-24"></span> Accept our terms of agreement</h4>
    <ul>
      <!-- <li>By using HKSN Kaplan Auction you agree to all the terms below.</li> -->
      <li>To fully use the auction services you will need to supply us a valid email address which we can contact you at.</li>
      <li>If you hold the winning bid, you are responsible for completing the auction transaction.</li>
      <li>We hold the right to use your lastest facebook profile picture in the auction page.</li>
      <li>If you bid on the auction more than your fair share(such as spamming bids), we reserve the right to erase your account and bidding history.</li>
      <li>If these terms of use change, we will notify you.</li>

    <br/>

    <a id="register" class="btn btn-large btn-primary">I agree to all of the terms stated above</a>
    {{/if}}

  {{/if}}

  <!-- <pre>{{json user}}</pre> -->

</div>


<script src="flat/js/jquery-1.8.2.min.js"></script>
<script src="flat/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="flat/js/jquery.dropkick-1.0.0.js"></script>
<script src="flat/js/custom_checkbox_and_radio.js"></script>
<script src="flat/js/custom_radio.js"></script>
<script src="flat/js/jquery.tagsinput.js"></script>
<script src="flat/js/bootstrap-tooltip.js"></script>
<script src="flat/js/jquery.placeholder.js"></script>
<script src="http://vjs.zencdn.net/c/video.js"></script>
<script src="flat/js/application.js"></script>
<script src="js/moment.js"></script>
<script>
$("#kaplan").addClass("active");
$(function($) {
  kaplan = {};
  current_bid = 0;

  kaplan.fetchCurrentBid = function() {
    $.getJSON('api/fetchCurrentBid', function(data) {
      if (data.current_bid) {
        current_bid = data.current_bid;
        $('#current_bid').text(data.current_bid);
      }
    });
  };

  kaplan.fetchLatestBid = function() {
    $.getJSON('api/fetchLatestBid', function(data) {
      if (data[0]) {
        $('#latest_bid').text("$" + data[0].bid_amount + " by " + data[0].display_name + " " + moment(new Date(data[0].timestamp)).fromNow());
      }
    });
  };

  kaplan.fetchAllBids = function() {
    $.getJSON('api/fetchAllBid', function(data) {
      if (data[0]) {
        $('#latest_bid').text("$" + data[0].bid_amount + ", " + moment(new Date(data[0].timestamp)).fromNow());
      }

      var history = "";
      var bid_count = 550;
      if (data) {
        for (var i = data.length - 1; i >= 0; i--) {
          // console.log(data[i]);
          bid_count += data[i].bid_amount;
          history = "<li>$" + bid_count + " at " + moment(new Date(data[i].timestamp)).format('MMM Do, h:mm:ss a') + "</li>" + history;
        }

        $('#history').html(history);
      }
    });
  };

  kaplan.placeBid = function(bid_amount) {
    if ((new Date().getTime() < (new Date("March 31, 2013 10:00:00")).getTime())) {
      return alert("Sorry {{user.display_name}}, the auction hasn't started yet");
    }

    if ((new Date().getTime() < (new Date("April 12, 2013 23:59:00")).getTime())) {
      $.getJSON('api/fetchCurrentBid', function(data) {
        if (data.current_bid) {
          current_bid = data.current_bid;
        }

        if (data.facebook_id == "{{user.facebook_id}}") {
          return alert("You already hold the current highest bid! You can't bid again until someone has beat your current bid of $" + current_bid);
        }

        var r = confirm("Are you sure you want to increase the current bid of " + current_bid + " by " + bid_amount + "?");

        if (r) {
          $.post('api/placeBid/' + bid_amount, function(data) {
            if (data.error) {
              alert("Something went wrong. Your bid of " + bid_amount + " may not have been placed.");
              console.log(data.error);
            }
            alert("Thank You {{user.display_name}}, your bid of " + bid_amount + " was placed.");
            // console.log(data);
            kaplan.fetchCurrentBid();
            kaplan.fetchAllBids();
          });
        }
      });
    } else {
      alert("Sorry {{user.display_name}}, auction has already ended.")
    }
  };

  $('#place50').click(function() {
    kaplan.placeBid(50);
  });

  $('#place100').click(function() {
    kaplan.placeBid(100);
  });

  // USERS
  $.getJSON('api/users', function(data) {
    var items = "";

    $.each(data, function(key, val) {
      if (val.facebook_id) {
        items += "<a alt='" + val.display_name + "' href='http://facebook.com/" + val.facebook_id + "'><img class='img-rounded' src='https://graph.facebook.com/" + val.facebook_id + "/picture'></a> ";
      }
    });

    $('#participants').html(items);
  });


  // init

  kaplan.fetchCurrentBid();
  // kaplan.fetchLatestBid();
  kaplan.fetchAllBids();

  setInterval(function() {
    kaplan.fetchCurrentBid();
    // kaplan.fetchLatestBid();
    kaplan.fetchAllBids();
  }, 5000);

  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }


  $('#register').click(function() {

    if (validateEmail($('#email').val())) {
      $.post("api/register", {
        email: $('#email').val()
      })
        .done(function(data) {
        if (data && data.status == 200) {
          console.log("refresh")
          location.reload();
        } else {
          alert("Something went wrong! Let us know about it!");
        }
      });
    } else {
      alert("Please enter a valid email address");
    }

  });
});
</script>