<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
    <!--<link rel='stylesheet' href='/css/bootstrap-responsive.css'>-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.css'>

    {{{block "stylesheets"}}}
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="135">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li id="nav_home"><a href="/">Home</a></li>
              <li id="nav_news"><a href="/news">News</a></li>
              <li id="nav_events"><a href="/events">Events</a></li>
              <li id="nav_exec"><a href="/exec">Exec Team</a></li>
              <li id="nav_academics"><a href="/academics">Academics</a></li>
              <li id="nav_sponsors"><a href="/sponsors">Sponsors</a></li>
              <li id="nav_food"><a href="/food">Food Blog</a></li>
            </ul>

            <ul class="nav pull-right">
              <li>
                <a href="https://twitter.com/McGillHKSN" class="twitter-follow-button" data-show-count="false">Follow @McGillHKSN</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </li>
<!--
              <li>
                <div class="facebook-like-button">
                  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hksn.ca&amp;send=false&amp;layout=button_count&amp;width=20&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21&amp;appId=468092519876338" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
                </div>
              </li>
-->
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{{body}}}

    <div class="skyline"></div>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{{block "scripts"}}}
  </body>
</html>
