<header class="jumbotron jumbo_sponsors subhead" id="overview">
  <div class="container">
    <h1>Sponsors</h1>
    <p class="lead">Present your HKSN card and get discounts from our sponsors!</p>
  </div>
</header>

<br/>

<div class="container">
    <div class="row-fluid">
      <div class="span4">
        <ul class="thumbnails">
          <li>
            <div class="thumbnail">
              <img src="/img/sponsors/CXQlogo.png" alt="" />
            </div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/img/sponsors/CristalChinois.jpg" alt="" />
            </div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/img/sponsors/mbrgr_logo.jpg" alt="" />
            </div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/img/sponsors/Kaplan%20Logo.JPG" alt="" />
            </div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/img/sponsors/snowlogo.jpg" alt="" />
            </div>
          </li>
        </ul>
      </div>
        <div class="well span8">
          <table class="table table-hover table-striped table-condensed">
            <thead>
              <tr>
                <th>Sponsor</th>
                <th>Discount</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Spicy Noodle</td>
                <td><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/efKKF">Map</a></td>
              </tr>
              <tr>
                <td>Restaurant Zheng Qing Qiao (正请桥)</td>
                <td><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/PeDBa">Map</a></td>
              </tr>
              <tr>
                <td>L2 BBT Lounge</td>
                <td><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/BEF3Z">Map</a></td>
              </tr>
              <tr>
                <td>Restaurant Hong Kong</td>
                <td colspan="1"><span class="label label-success">20%</span></td>
                <td><a href="http://goo.gl/maps/T8UfZ">Map</a></td>
              </tr>
              <tr>
                <td>Hoang Oanh Banh Mi Vietnamese Sandwich</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/5k4Jp">Map</a></td>
              </tr>
              <tr>
                <td>Thai Phon (#468)</td>
                <td colspan="1"><span class="label label-warning">Free Pop</td>
                <td><a href="http://goo.gl/maps/OUNRC">Map</a></td>
              </tr>
              <tr>
                <td>Sushiman Concordia</td>
                <td colspan="1"><span class="label label-warning">Free Drink</span></td>
                <td><a href="http://goo.gl/maps/J4f0C">Map</a></td>
              </tr>
              <tr>
                <td>La Cremière (Eaton Centre)</td>
                <td colspan="1"><span class="label label-success">10%</span> off everything</td>
                <td><a href="http://goo.gl/maps/9GxZO">Map</a></td>
              </tr>
              <tr>
                <td>Maison du Nord (北方人家)</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/EBEpT">Map</a></td>
              </tr>
              <tr>
                <td>Wok Café</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/Q1Z44">Map</a></td>
              </tr>
              <tr>
                <td>Cacao 70</td>
                <td colspan="1"><span class="label label-warning">Free Hot Chocolate</span> w/ $10 purchase</td>
                <td><a href="http://goo.gl/maps/u69mR">Map</a></td>
              </tr>
              <tr>
                <td>Le Showwok</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/CUzEi">Map</a></td>
              </tr>
              <tr>
                <td>Kiss Grill</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/l9w7u">Map</a></td>
              </tr>
              <tr>
                <td>Magic Idea BBT</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/MvI2O">Map</a></td>
              </tr>
              <tr>
                <td>Golden Stone (金石串吧)</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/os999">Map</a></td>
              </tr>
              <tr>
                <td>Hakata Ramen</td>
                <td colspan="1"><span class="label label-warning">Free Smoothie</td>
                <td><a href="http://goo.gl/maps/Olgfo">Map</a></td>
              </tr>
              <tr>
                <td>Cactus Wawa</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/LmoXU">Map</a></td>
              </tr>
              <tr>
                <td>Thé Kiosque</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/q7O4V">Map</a></td>
              </tr>
              <tr>
                <td>Edo Japan (Eaton Centre)</td>
                <td colspan="1"><span class="label label-warning">Free Drink</span></td>
                <td><a href="http://goo.gl/maps/9GxZO">Map</a></td>
              </tr>
              <tr>
                <td>Kono Pizza</td>
                <td colspan="1"><span class="label label-warning">Free Drink</span></td>
                <td><a href="http://goo.gl/maps/KY4qY">Map</a></td>
              </tr>
              <tr>
                <td>Muru Crepe</td>
                <td colspan="1"><span class="label label-success">10%</span></td>
                <td><a href="http://goo.gl/maps/63In4">Map</a></td>
              </tr>
              <tr>
                <td>Atti</td>
                <td colspan="1"><span class="label label-warning">Free Drink</span></td>
                <td><a href="http://goo.gl/maps/gb90W">Map</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="well span8">
            <table class="table table-hover table-striped table-condensed">
              <thead>
                <tr>
                  <th>Sponsor</th>
                  <th>Discount</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MBox Karaoke</td>
                  <td colspan="1"><span class="label label-warning">Free Drink</span></td>
                  <td><a href="#map">Map</a></td>
                </tr>
                <tr>
                  <td>Magic Idea KTV</td>
                  <td colspan="1"><span class="label label-warning">Free Drink</span></td>
                  <td><a href="#map">Map</a></td>
                </tr>
                <tr>
                  <td>Idea Nature Salon</td>
                  <td colspan="1"><span class="label label-success">10%</span></td>
                  <td><a href="#map">Map</a></td>
                </tr>
                <tr>
                  <td>Salon de Coiffre Hong Kong</td>
                  <td colspan="1"><span class="label label-success">10%</span> off above $20</td>
                  <td><a href="#map">Map</a></td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>
