body {
  font: 87% "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #111;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}

/*
 * Social Media
 */
.twitter-follow-button {
    padding-top: 10px;
    width: 120px;
    font-size: 0.9em;
}

.facebook-like-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 40px;
    width: 30px;
}

/*
 * JUMBO Banner!
 */
#news {
    position: relative;
    text-shadow: 1px 1px rgba(0,0,0,.8), 0 0 30px rgba(0,0,0,.35);
    color: #ffffff;
    background: url('/img/hk_from_peak_med.jpg') no-repeat center center;
    background-color: #333;
    height: 650px;
    background-size: cover;
}

#news h1 {
    font-size: 3.3em;
    font-weight: 200;
}

#news p {
    font-size: 1.5em;
    font-weight: 100;
}

#news .container {
    padding-top: 50px;
}

/*
 * Events
 */
#events {
  height: 650px;
  position: relative;
  /*text-shadow: 1px 2px rgba(0,0,0,.8), 0 0 30px rgba(0,0,0,.35);*/
  color: #ffffff;
  background: url('/img/eventbg.jpg') no-repeat center center;
  background-color: #6C979E;
  background-size: cover;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
   -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
        box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

#event img {
  float: left;
  background: black;
  display: block;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

#event-phone {
  height: 100%;
  background: url('') no-repeat center center;
  background-size: cover;
}

.tint {
  height: 650px;
  background: rgba(20,20,20, 0.60);
}

.itinerary {
  padding-top: 100px;
}

.itinerary a {
  text-decoration: none;
}

.itinerary ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.itinerary ul li {
  height: 100px;
  background: rgba(43,135,158, 0.9);
  background: rgba(255,255,255, 0.9);
  margin-bottom: 2px;
}

.itinerary ul li:hover {
  transition: left .2s linear,padding .2s linear,background .2s linear,width .2s linear;
  -o-transition: left .2s linear,padding .2s linear,background .2s linear,width .2s linear;
  -moz-transition: left .2s linear,padding .2s linear,background .2s linear,width .2s linear;
  -webkit-transition: left .2s linear,padding .2s linear,background .2s linear,width .2s linear;
}

.itinerary-date {
  text-align: center;
  color: #333;
  float: right;
  padding: 10px;
  width: 80px;
  height: 80px;
  background: #eee;
}

.itinerary-date > .month {
  font-size: 1.5em;
}

.itinerary-date > .date {
  font-size: 4em;
  line-height: 0.9em;
}

.itinerary-info {
  color: #333;
  padding: 12px;
  /*overflow: hidden;*/
  text-roverflow: ellipsis;
}

.poster {
  margin-top: 160px;
}

/*
 * Photos
 */
#photos {
  height: 100%;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);

}

/*
 * Google Maps
 */
#sponsors {
  height: 650px;
}

@media (max-width: 767px) {
  #sponsors {
    height: 450px;
  }
}

/*
 * Contact
 */
#contact {
  background-color: #111;
  color: #fff;
  padding-top: 100px;
}

#contact .well {
  color: #333;
}

.fb-comments {
}

/*
 * corkboard
 */
#team {
  height: 650px;
  background: #333 url(/img/corkboard.jpg) repeat;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}


/*
 * Jumbotron
 */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #03816d; /* Old browsers */
  background: -moz-linear-gradient(70deg,  #03816d 0%, #adadc7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#03816d), color-stop(100%,#adadc7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(70deg,  #03816d 0%,#adadc7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(70deg,  #03816d 0%,#adadc7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(70deg,  #03816d 0%,#adadc7 100%); /* IE10+ */
  background: linear-gradient(70deg,  #03816d 0%,#adadc7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#469338', endColorstr='#b6d748',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbo_events {
  background: #03816d; /* Old browsers */
  background: -moz-linear-gradient(70deg,  #03816d 0%, #adadc7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#03816d), color-stop(100%,#adadc7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(70deg,  #03816d 0%,#adadc7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(70deg,  #03816d 0%,#adadc7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(70deg,  #03816d 0%,#adadc7 100%); /* IE10+ */
  background: linear-gradient(70deg,  #03816d 0%,#adadc7 100%); /* W3C */
}

.jumbo_academics {
  background: #469338; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #469338 0%, #b6d748 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#469338), color-stop(100%,#b6d748)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #469338 0%,#b6d748 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #469338 0%,#b6d748 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #469338 0%,#b6d748 100%); /* IE10+ */
  background: linear-gradient(-45deg,  #469338 0%,#b6d748 100%); /* W3C */
}

.jumbo_food {
  background: #f2acb9; /* Old browsers */
  background: -moz-linear-gradient(-65deg,  #f2acb9 0%, #7cbfab 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f2acb9), color-stop(100%,#7cbfab)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-65deg,  #f2acb9 0%,#7cbfab 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-65deg,  #f2acb9 0%,#7cbfab 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-65deg,  #f2acb9 0%,#7cbfab 100%); /* IE10+ */
  background: linear-gradient(-65deg,  #f2acb9 0%,#7cbfab 100%); /* W3C */
}

.jumbo_sponsors {
  background: #5D4157; /* Old browsers */
  background: -moz-linear-gradient(-65deg,  #5D4157 0%, #838689 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#5D4157), color-stop(100%,#838689)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-65deg,  #5D4157 0%,#838689 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-65deg,  #5D4157 0%,#838689 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-65deg,  #5D4157 0%,#838689 100%); /* IE10+ */
  background: linear-gradient(-65deg,  #5D4157 0%,#838689 100%); /* W3C */
}

.jumbo_exec {
  background: #B94458; /* Old browsers */
  background: -moz-linear-gradient(-90deg,  #B94458 0%, #D58D9A 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#B94458), color-stop(100%,#D58D9A)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-90deg,  #B94458 0%,#D58D9A 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-90deg,  #B94458 0%,#D58D9A 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-90deg,  #B94458 0%,#D58D9A 100%); /* IE10+ */
  background: linear-gradient(-90deg,  #B94458 0%,#D58D9A 100%); /* W3C */
}

.jumbo_news {
  background: #107FC9; /* Old browsers */
  background: -moz-linear-gradient(80deg,  #107FC9 0%, #4A8DAD 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#107FC9), color-stop(100%,#4A8DAD)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(80deg,  #107FC9 0%,#4A8DAD 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(80deg,  #107FC9 0%,#4A8DAD 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(80deg,  #107FC9 0%,#4A8DAD 100%); /* IE10+ */
  background: linear-gradient(80deg,  #107FC9 0%,#4A8DAD 100%); /* W3C */
}

.thumbnail {
  padding: 0px;
  border: #ffffff 2px solid;
}